<app-sidebar [role]="user != undefined && user.role ? user.role : undefined ">
    <app-create-title>
        Ver
    </app-create-title>

    <div class="space-y-12" *ngIf="record != undefined else elseSubmitted">
        <div class="border-b border-gray-900/10 pb-12">
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

              <div class="sm:col-span-2 sm:col-start-1">
                  <label for="titulo" class="block text-sm font-medium leading-6 text-gray-900">Título</label>
                  <div class="mt-2">
                      <input disabled [(ngModel)]="record.titulo" id="titulo" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                      <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                          <div *ngFor="let error of errors.titulo">
                              {{ error }}
                          </div>
                          <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.titulo == undefined && tries > 0">
                              ¡Perfecto!
                          </div>
                      </div>
                  </div>
              </div>
      
              <div class="sm:col-span-2">
                <label for="descripcion" class="block text-sm font-medium leading-6 text-gray-900">Descripción</label>
                <div class="mt-2">
                  <input disabled [(ngModel)]="record.descripcion" id="descripcion" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">

                </div>
              </div>
      
              <div class="sm:col-span-2">
                <label for="fecha_comienzo" class="block text-sm font-medium leading-6 text-gray-900">Fecha de comienzo</label>
                <div class="mt-2">
                  <input disabled [ngModel]="record.fecha_comienzo | date:'yyyy-MM-dd'" (ngModelChange)="record.fecha_comienzo = $event" type="date" id="fecha_comienzo" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                </div>
              </div>
      
              <div class="sm:col-span-2">
                <label for="hora_comienzo" class="block text-sm font-medium leading-6 text-gray-900">Hora de comienzo</label>
                <div class="mt-2">
                  <input disabled [ngModel]="record.hora_comienzo" id="hora_comienzo" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                </div>
              </div>
      
              <div class="sm:col-span-2">
                <label for="costo_horas_extras" class="block text-sm font-medium leading-6 text-gray-900">Costo horas extras</label>
                <div class="mt-2">
                  <input disabled [(ngModel)]="record.costo_horas_extras" id="costo_horas_extras" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                  <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                      <div *ngFor="let error of errors.costo_horas_extras">
                          {{ error }}
                      </div>
                      <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.costo_horas_extras == undefined && tries > 0">
                          ¡Perfecto!
                      </div>
                  </div>
                </div>
              </div>
      
              <div class="sm:col-span-2">
                <label for="costo_fecha" class="block text-sm font-medium leading-6 text-gray-900">Costo fecha</label>
                <div class="mt-2">
                  <input disabled [(ngModel)]="record.costo_fecha" id="costo_fecha" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                  <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                      <div *ngFor="let error of errors.costo_fecha">
                          {{ error }}
                      </div>
                      <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.costo_fecha == undefined && tries > 0">
                          ¡Perfecto!
                      </div>
                  </div>
                </div>
              </div>
  
              <div class="sm:col-span-2">
                  <label for="costo_paquete" class="block text-sm font-medium leading-6 text-gray-900">Costo paquete</label>
                  <div class="mt-2">
                    <input disabled [(ngModel)]="record.costo_paquete" id="costo_paquete" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                    <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                        <div *ngFor="let error of errors.costo_paquete">
                            {{ error }}
                        </div>
                        <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.costo_paquete == undefined && tries > 0">
                            ¡Perfecto!
                        </div>
                    </div>
                  </div>
                </div>
      
              <div class="sm:col-span-2">
                <label for="discount" class="block text-sm font-medium leading-6 text-gray-900">Descuento</label>
                <div class="mt-2">
                  <input disabled [(ngModel)]="record.discount" id="discount" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                  <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                      <div *ngFor="let error of errors.discount">
                          {{ error }}
                      </div>
                      <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.discount == undefined && tries > 0">
                          ¡Perfecto!
                      </div>
                  </div>
                </div>
              </div>
      
              <div class="sm:col-span-2">
                <label for="costo_pagado" class="block text-sm font-medium leading-6 text-gray-900">Costo pagado</label>
                <div class="mt-2">
                  <input disabled [(ngModel)]="record.costo_pagado" id="costo_pagado" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                  <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                      <div *ngFor="let error of errors.costo_pagado">
                          {{ error }}
                      </div>
                      <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.costo_pagado == undefined && tries > 0">
                          ¡Perfecto!
                      </div>
                  </div>
                </div>
              </div>
  
              <div class="sm:col-span-2">
                  <label for="paquete" class="block text-sm font-medium leading-6 text-gray-900">Paquete</label>
                  <div class="mt-2">
                    <select disabled [(ngModel)]="record.paquete" id="paquete" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                        <option *ngFor="let paquete_ of paquetes" [value]="paquete_.id" >{{ paquete_.nombre }}</option>
                    </select>
                    <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                        <div *ngFor="let error of errors.paquete">
                            {{ error }}
                        </div>
                        <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.paquete == undefined && tries > 0">
                            ¡Perfecto!
                        </div>
                    </div>
                  </div>
              </div>
  
              <div class="sm:col-span-2">
                  <label for="cliente" class="block text-sm font-medium leading-6 text-gray-900">Cliente</label>
                  <div class="mt-2">
                    <select disabled [(ngModel)]="record.cliente" id="cliente" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                        <option *ngFor="let cliente_ of clientes" [value]="cliente_.id" >{{ cliente_.nombre + " " + cliente_.apellido_paterno }}</option>
                    </select>
                    <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                        <div *ngFor="let error of errors.cliente">
                            {{ error }}
                        </div>
                        <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.cliente == undefined && tries > 0">
                            ¡Perfecto!
                        </div>
                    </div>
                  </div>
              </div>
  
              <div class="sm:col-span-2">
                  <label for="fecha" class="block text-sm font-medium leading-6 text-gray-900">Fecha</label>
                  <div class="mt-2">
                    <select disabled [(ngModel)]="record.fecha" id="fecha" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                        <option *ngFor="let fecha of fechas" [value]="fecha.id" >{{ fecha.dia_inicio + ' - ' + fecha.dia_final + ": " + fecha.costo }}</option>
                    </select>
                    <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                        <div *ngFor="let error of errors.fecha">
                            {{ error }}
                        </div>
                        <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.fecha == undefined && tries > 0">
                            ¡Perfecto!
                        </div>
                    </div>
                  </div>
              </div>
  
              <div class="sm:col-span-2">
                  <label for="tipo_pago" class="block text-sm font-medium leading-6 text-gray-900">Tipo de pago</label>
                  <div class="mt-2">
                    <select disabled [(ngModel)]="record.tipo_pago" id="tipo_pago" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                        <option *ngFor="let tipo_pago of tipo_pagos" [value]="tipo_pago.id" >{{ tipo_pago.nombre  }}</option>
                    </select>
                    <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                        <div *ngFor="let error of errors.tipo_pago">
                            {{ error }}
                        </div>
                        <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.tipo_pago == undefined && tries > 0">
                            ¡Perfecto!
                        </div>
                    </div>
                  </div>
              </div>
  
              <div class="sm:col-span-2">
                  <label for="estado_evento" class="block text-sm font-medium leading-6 text-gray-900">Estado de evento</label>
                  <div class="mt-2">
                    <select disabled [(ngModel)]="record.estado_evento" id="estado_evento" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                        <option *ngFor="let estado_evento of estado_eventos" [value]="estado_evento.id" >{{ estado_evento.nombre  }}</option>
                    </select>
                    <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                        <div *ngFor="let error of errors.estado_evento">
                            {{ error }}
                        </div>
                        <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.estado_evento == undefined && tries > 0">
                            ¡Perfecto!
                        </div>
                    </div>
                  </div>
              </div>
  
              <div class="sm:col-span-2">
                  <label for="quinta" class="block text-sm font-medium leading-6 text-gray-900">Quinta</label>
                  <div class="mt-2">
                    <select disabled [(ngModel)]="record.quinta" id="quinta" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                        <option *ngFor="let quinta of quintas" [value]="quinta.id" >{{ quinta.nombre }}</option>
                    </select>
                    <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                        <div *ngFor="let error of errors.quinta">
                            {{ error }}
                        </div>
                        <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.quinta == undefined && tries > 0">
                            ¡Perfecto!
                        </div>
                    </div>
                  </div>
              </div>
  
              <div class="sm:col-span-2">
                  <label for="hora_extra" class="block text-sm font-medium leading-6 text-gray-900">Hora extra</label>
                  <div class="mt-2">
                    <select disabled [(ngModel)]="record.hora_extra" id="hora_extra" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                        <option *ngFor="let hora_extra of hora_extras" [value]="hora_extra.id" >{{ hora_extra.hora_minima + ' - ' + hora_extra.hora_maxima + " : " + hora_extra.costo }}</option>
                    </select>
                    <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                        <div *ngFor="let error of errors.hora_extra">
                            {{ error }}
                        </div>
                        <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.hora_extra == undefined && tries > 0">
                            ¡Perfecto!
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    
        <div class="mt-6 flex items-center justify-end gap-x-6">
            <a [routerLink]="[routeTo]">
                <button class="text-sm font-semibold leading-6 text-gray-900">Regresar</button>
            </a>
            <a *ngIf="user?.role == 3" [routerLink]="[routeTo+'/'+record.id+'/edit']">
                <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Editar
                    </span>
                </button>
            </a>
        </div>

        <app-create-title>
            Opiniones
        </app-create-title>
    
        <div *ngIf="record?.opiniones && record?.opiniones?.length! > 0 else noOpiniones">
            <table class="table-auto w-full text-center">
                <thead>
                <tr>
                    <th class="font-light">Título</th>
                    <th class="font-light">Descripción</th>
                    <th class="font-light">Calificación</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let evento of record?.opiniones">
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.descripcion }}</td>
                    <td>{{ evento.calificacion }}</td>
                    <td>
                    <a [routerLink]="'/opiniones/' + [evento.id]">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-width="1" d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z"/>
                            <path stroke="currentColor" stroke-width="1" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                    </a>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noOpiniones>
        No hay ningún evento asociado.
        </ng-template>
        
    </div> 
    <ng-template #elseSubmitted>
        <app-loading *ngIf="!notfound else notFound"></app-loading>
        <ng-template #notFound>
          <app-create-title>
              Tu recurso no fue encontrado o no existe.
          </app-create-title>
        </ng-template>
    </ng-template>

    

</app-sidebar>