<app-sidebar [role]="user != undefined && user.role ? user.role : undefined">
    <app-create-title>
        Editar fecha
    </app-create-title>

    <div class="space-y-12" *ngIf="!submitted && ready else elseSubmitted">
        <div class="border-b border-gray-900/10 pb-12">
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6" [formGroup]="componentForm">
                <div class="sm:col-span-2 sm:col-start-1">
                    <label for="dia_inicio" class="block text-sm font-medium leading-6 text-gray-900">Día de inicio</label>
                    <div class="mt-2">
                        <select formControlName="dia_inicio" id="dia_inicio" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                            <option value="Monday">Lunes</option>
                            <option value="Tuesday">Martes</option>
                            <option value="Wednesday">Miércoles</option>
                            <option value="Thursday">Jueves</option>
                            <option value="Friday">Viernes</option>
                            <option value="Saturday">Sábado</option>
                            <option value="Sunday">Domingo</option>
                        </select>
                    </div>
                    <div class="text-sm text-pink-500 p-0 mt-1" *ngIf="componentForm.controls['dia_inicio'].invalid && (componentForm.controls['dia_inicio'].dirty || componentForm.controls['dia_inicio'].touched)">
                        <div *ngIf="componentForm.controls['dia_inicio'].errors?.['required']">Este campo es requerido.</div>
                    </div>
                </div>
  
                <div class="sm:col-span-2">
                    <label for="dia_final" class="block text-sm font-medium leading-6 text-gray-900">Día final</label>
                    <div class="mt-2">
                        <select formControlName="dia_final" id="dia_final" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                            <option value="Monday">Lunes</option>
                            <option value="Tuesday">Martes</option>
                            <option value="Wednesday">Miércoles</option>
                            <option value="Thursday">Jueves</option>
                            <option value="Friday">Viernes</option>
                            <option value="Saturday">Sábado</option>
                            <option value="Sunday">Domingo</option>
                        </select>
                    </div>
                    <div class="text-sm text-pink-500 p-0 mt-1" *ngIf="componentForm.controls['dia_final'].invalid && (componentForm.controls['dia_final'].dirty || componentForm.controls['dia_final'].touched)">
                        <div *ngIf="componentForm.controls['dia_final'].errors?.['required']">Este campo es requerido.</div>
                    </div>
                </div>
  
                <div class="sm:col-span-2">
                    <label for="costo" class="block text-sm font-medium leading-6 text-gray-900">Costo</label>
                    <div class="mt-2">
                        <input type="number" formControlName="costo" id="costo" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
                        <div class="mt-2 text-sm text-pink-600 dark:text-pink-500" *ngIf="errors != undefined">
                            <div *ngFor="let error of errors.costo">
                                {{ error }}
                            </div>
                            <div class="mt-2 text-sm text-teal-600 dark:text-teal-500" *ngIf="errors.costo == undefined && tries > 0">
                                ¡Perfecto!
                            </div>
                        </div>
                    </div>
                    <div class="text-sm text-pink-500 p-0 mt-1" *ngIf="componentForm.controls['costo'].invalid && (componentForm.controls['costo'].dirty || componentForm.controls['costo'].touched)">
                        <div *ngIf="componentForm.controls['costo'].errors?.['required']">Este campo es requerido.</div>
                        <div *ngIf="componentForm.controls['costo'].errors?.['min']">Este campo tiene que tener un costo por lo menos de un mínimo de 0.</div>
                    </div>
                </div>
  
            </div>
        </div>
  
        <div class="mt-6 flex items-center justify-end gap-x-6">
            <a [routerLink]="['/fechas']">
                <button class="text-sm font-semibold leading-6 text-gray-900">Regresar</button>
            </a>
            <button [disabled]="!componentForm.valid" (click)="submit()" class="disabled:cursor-not-allowed text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Guardar</button>
        </div>
    </div>
    <ng-template #elseSubmitted>
        <app-loading *ngIf="!notfound else notFound"></app-loading>
        <ng-template #notFound>
            <app-create-title>
                Tu recurso no fue encontrado o no existe.
            </app-create-title>
        </ng-template>
    </ng-template>

</app-sidebar>
