
<div class="flex w-full h-screen flex-col content-center justify-center text-center items-center">
    <div class="alert alert-success custom-success-message">
        <span class="custom-success-message-text">¡Registro exitoso!</span> Se ha enviado un correo electrónico para activar tu cuenta. Por favor, revisa tu bandeja de entrada.
    </div>
    <a [routerLink]="['/']" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-teal-400 rounded-lg hover:bg-teal-500 focus:ring-4 focus:ring-teal-600 dark:focus:ring-teal-600">
        Regrésame
    </a>
</div>