

<nav class="bg-gray-50 border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a [routerLink]="['/']" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/assets/img/elter.png" class="h-8" alt=""/>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a (click)="logout()" class="cursor-pointer font-normal text-sm text-teal-600 dark:text-teal-500 hover:underline">Cerrar sesión</a>
        </div>
    </div>
</nav>
