<div *ngIf="isActive else loading">
    <div class="grid-cols-2 grid gap-x-2 auto-cols-auto">    
        <app-index-title>
            <ng-content></ng-content>
        </app-index-title>
        <a *ngIf="hideCreate" [routerLink]="[createRoute]" class="w-full text-end">
            <button type="button" class="w-min text-white bg-teal-500 hover:bg-teal-600 focus:outline-none focus:ring-4 focus:ring-teal-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800">Crear</button>
        </a>
    </div>

    <table class="table-auto w-full text-left" *ngIf="collection && collection.length > 0 else elseTable">
        <ng-content select="[head]"></ng-content>
        <ng-content select="[body]"></ng-content>
    </table>
    <ng-template #elseTable>
        No hay todavia ningún registro :c
    </ng-template>
</div>
<ng-template #loading class="h-full flex justify-center content-center flex-wrap ">
    <app-loading></app-loading>
</ng-template>